SECRET_KEY='-us)*n_*=kt$90#m=h)l_2ik5^s&^-1q@6vna3wl+!mzgw3oe2'
REDIS_URL=redis://localhost:6379
APP_HOST=127.0.0.1
DATABASE_URL=postgis://tracker:tracker@127.0.0.1:5432/tracker
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1